body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

#profile-image {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.user-data {
    display: grid;
    grid-template-columns: 1fr;
}

.portfolio-images {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
}

.label {
    font-weight: bold;
    justify-content: center;
}

.inputField {
    padding: 10px;
}

#summary {
    min-height: 100px;
}

#saveBtn {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
}

.user-info {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 0.75rem;
    text-align: start;
    margin-top: 5rem;
}
