
/* by carlos */

*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Header */

header{
    background-color: #30343F ;
    display: grid;
    grid-template-columns: 1fr;
}

.headerNav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.artistNav ul li{
    text-align: center;
    List-style: none;
    padding: 0;   
    margin: 0; 
    display: block;
    font-size: 1rem;
    padding-bottom: 0.2rem;
}

.artistNav ul li a{
    text-decoration: none;	
    font-size: 1rem;
    font-weight: 600;
}

.mobileBtn button{
    padding: 0;
    background: none;     
    border: none;  
    color: #89023E;  
}

.mobileBtn i{
    padding: 0.2rem;
    font-size: 1.4rem;
}

.artistNav a{
    color: white;
}

.artistNav ul{
    display: none;
}

.showMblNav nav ul{
    display: grid;
}

.artistName{
    color: #F37F81;
}

.search li{
    list-style: none;
}

/*Main*/

main{
    padding: 1rem 0 2rem 0;
}

.centeredContent{
    display: grid;
    grid-column: 1fr;
    gap: 0.5rem;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#chatTyped{
    color: #30343F;
    background-color:  #FFD9DA;
}

#chatSent{
    background-color: #89023E;
}

#chatSentBox {
    padding: 0.5rem 1rem 20rem 1rem;
    text-align: left;
    border-radius: 10px;
    background-color: #89023E;
}

.chatTypedForm {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
.chatTypedForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: none;
}
.chatTypedForm ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.chatTypedForm ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatTypedForm ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: #30343F;
    text-decoration: none;
    font-size: 2rem;
}

/* FOOTER */

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    background-color: #30343F;
    padding-bottom: 2rem;
    text-align: center;
}

.logoFooter,
.textFooter,
.mediaFooter,
.arrowFooter,
.copywrite{
    grid-column: span 2;
    color: white;
}

.logoFooter img{
    height: 200px;
    display: block;
    margin: auto;
}

.mediaFooter ul{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.mediaFooter ul li,
.quickLinks ul li,
.contactFooter ul li{
    list-style: none;
}

.mediaFooter ul li a,
.quickLinks ul li a,
.contactFooter ul li a{
    color: white;
    text-decoration: none;
}

.quickLinks{
    text-align: left;
    padding-left: 1rem;
}

.contactFooter{
    text-align: left;
}

.quickLinks h3,
.contactFooter h3{
    color: white;
    padding-bottom: 1rem;
}

.arrowFooter a{
    color: white;
}

.arrowFooter li{
    list-style: none;
}


@media screen and (min-width: 900px) {


/*FOOTER*/

    footer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .textFooter{
        grid-row: 2/3;
    }

    .mediaFooter{
        grid-row: 3/4;
    }

    .copywrite{
        grid-row: 4/5;
        grid-column: span 5;
    }

    .quickLinks{
        grid-row: 1/4;
    }

    .contactFooter{
        grid-row: 1/4;
    }
    .arrowFooter{
        grid-column: 5/-1;
        grid-row: 1/4;
        align-self: end;
        text-align: right;
        padding-right: 1rem;
    }

}

