@media screen and (min-width: 900px) {
    .headerContent .navbar .menuBtn{
        display: none;
    }
    nav{
        display: block;
    }
   
    .headerContent .site-heading,  .headerContent .navbar{
        grid-column: 1/span 2;
        grid-row: 1/span 2;
    }
    nav ul li{
        display: inline;
    }
    nav ul li a{
        color: var(--white-clr);
        margin-left: 1rem;
    }
}