.mainContent, .headerContent, .footerContent, .artist-reviews{
    max-width: 1000px;
    margin: auto;
}

h1, h2, h3{
    font-family: Oswald;
    font-weight: normal;
}
img {
max-width: 100%;
height: auto;
display: block;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
header .site-heading img{
width: 50px;
height: auto;
}

nav{
    display: none;
   
}

.headerContent .navbar .search a, .headerContent .navbar .menuBtn a{
    color: var(--white-clr);
}
.headerContent .navbar .menuBtn a{
    color: var(--accent-clr);
}

header{
    background:var(--primary-clr);
    border-radius: 0 0 20px 20px;

    padding: 1rem;
    color: var(--white-clr);
}
header .headerContent .site-heading{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
header .headerContent .site-heading img, header .headerContent .site-heading h1{
    grid-row: 1;
    grid-column: 1;
}
header .headerContent .site-heading h1{
    margin-left: 3.5rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: normal;
}
.headerContent h2{
    font-weight: normal;
}
.headerContent h2 span{
    color: var(--accent-clr);
}
.headerContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.headerContent .navbar{
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-items: center;
}
nav ul li a:hover{
    color: var(--accent-clr);
    border-bottom: 1px solid var(--accent-clr);
    transition: all .5s;
}
