:root {
  --gradient: linear-gradient(to bottom, #111415, #363a47);
  --primary-clr: rgb(56, 56, 56);
  --secondary-clr: #89023E;
  --accent-clr: #F37F81;
  --white-clr: white;
  --blacl-clr: black;

  --h1-desktop: 46px;
  --h1-mobile: 32px;
  --h2-desktop: 41px;
  --h2-mobile: 28px;
  --h3-desktop: 30px;
  --h3-mobile: 24px;
  --h4-desktop: 20px;
  --h4-mobile: 16px;
  --font-size-body-desktop: 16px;
  --font-size-body-mobile: 16px;

  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #111415, #363a47);
  position: relative;
}



header {
  height: 220vh;
}
.mainContent,
.headerContent,
.footerContent,
.artist-reviews {
  max-width: 1000px;
  margin: auto;
}

h1,
h2,
h3 {
  font-family: Oswald;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header .site-heading img {
  width: 50px;
  height: auto;
}
.headerContent .navbar {
  position: relative;
}

nav {
  display: none;
}

nav ul li a:hover {
  color: var(--accent-clr);
  border-bottom: 1px solid var(--accent-clr);
  transition: all 0.5s;
}

.headerContent .navbar .search a,
.headerContent .navbar .menuBtn a {
  color: var(--white-clr);
}

.headerContent .navbar .menuBtn a {
  color: var(--accent-clr);
}

header {
  border-radius: 0 0 20px 20px;

  padding: 1rem;
  color: var(--white-clr);
}

header .headerContent .site-heading {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

header .headerContent .site-heading img,
header .headerContent .site-heading h1 {
  grid-row: 1;
  grid-column: 1;
}

header .headerContent .site-heading h1 {
  margin-left: 3.5rem;
  align-items: center;
  font-size: 32px;
  font-weight: normal;
  color: white;
}

.headerContent h2 {
  font-weight: normal;
}

.headerContent h2 span {
  color: var(--accent-clr);
}

.headerContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headerContent .navbar {
  display: flex;
  gap: 1rem;
  color: #f37f81;
  justify-content: end;
  align-items: center;
}

a.explore {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-items: center;
  background-color: var(--secondary-clr);
  width: 150px;
  margin: auto;
  color: var(--white-clr);
  padding: .5rem;
  border-radius: 25px;
}


a.sign-up,
.home-main .event-list .parties-list .details-btn a,
.home-main .our-artists a,
.home-main .contact-us .contact-form a {
  background-color: var(--accent-clr);
  color: var(--white-clr);
  padding: .5rem;
  border-radius: 25px;
  display: block;
  text-align: center;
  width: 150px;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 8px;
}

.home-main .event-list .parties-list .details-btn a {
  margin: 0;
}

/* main---------------- */

.home-main .header-content {
  color: var(--white-clr);
}

.home-main .header-content h1 {
  color: var(--accent-clr);
  margin-bottom: 0;
  font-size: clamp(36px, 2vw + 10px, 48px);
}

.home-main .header-content h2 {
  margin-top: 0;
}

.home-main .header-content h1 span {
  color: var(--white-clr);
}

main .home-main>*:not(.home-main .experiences) {
  padding: 2rem;
}

main .home-main {
  top: 6rem;
  position: absolute;
  z-index: 100;
}

main .discover-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

main .discover-wrapper>*:not(h2) {
  border-radius: 10px;

  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
  height: 250px;
  max-width: 220px;
  align-content: center;
  align-items: center;
  color: var(--white-clr);
}

main .discover-wrapper img {
  width: 80px;
  margin: auto;
}

main .discover-wrapper h2 {
  grid-column: span 2;
  text-align: left;
  color: var(--accent-clr);
}

main .discover-wrapper p {
  margin: 0;
}

main .discover-wrapper .discover {
  background-color: #F37F9A;
}

main .discover-wrapper .book {
  background-color: #F37F81;
}

main .discover-wrapper .organise {
  background-color: var(--secondary-clr);
}

main .discover-wrapper .enjoy {
  background-color: #FF3465;
}

main .event-list h2 {
  color: var(--white-clr);
  text-align: center;
}

main .event-list h2 span {
  color: var(--accent-clr);
}

.home-main .event-list .parties-list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  color: var(--white-clr);
  justify-content: left;
  justify-items: left;
  margin-bottom: 1rem;
}

.home-main .event-list .parties-list .overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  /* height: 408px; */
  background: linear-gradient(to bottom, #ff346376, #1b202155);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  border-radius: 20px;
}

.home-main .event-list .parties-list .party-info {
  position: absolute;
  bottom: .5rem;
  font-size: var(--font-size-body-mobile);
  padding: 1.5rem;
}

.home-main .event-list .parties-list .party-info h3 {
  font-size: var(--h3-mobile);
  font-weight: 500;
}

/* Experiences--------------- */
.home-main .experiences {
  text-align: center;
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-main .experiences h2 {
  grid-column: 1/-1;
}

.home-main .experiences p {
  font-family: oswald;
}

.home-main .experiences h2 span,
.home-main .experiences p span,
.home-main .our-clients h2 {
  color: var(--accent-clr);
}

/* Our artists------------------- */

.home-main .our-artists {
  background: linear-gradient(to right, #30343F, #7E88A5);
  margin: 0;
  margin-top: 3rem;
  color: var(--white-clr);
}

.home-main .our-artists a {
  margin-left: 0;
  color: var(--blacl-clr);
}

.home-main .our-artists img {
  margin-bottom: -1.99rem;
  margin-top: -3rem;
}

.home-main .our-artists h2 {
  font-size: var(--h2-mobile);
}

.home-main .our-artists p {
  font-size: var(--font-size-body-mobile);
}


/* our clients--------------- */
.home-main .our-clients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.home-main .our-clients h2 {
  grid-column: 1/-1;
}

.home-main .our-clients img:last-child {
  grid-column: 1/-1;
  
}

/* testimonial----------------- */
main .testimonial {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

main .testimonial img {
  background-color: var(--accent-clr);
  padding-top: 1rem;
  margin: auto;
  border-radius: 25px;
}

main .testimonial p {
  margin-top: 0;
}

main .testimonial blockquote {
  font-family: oswald;
  color: var(--accent-clr);
  margin: 0;
  font-size: var(--h3-mobile);
}

main .testimonial .icons-grp {
  color: var(--secondary-clr);
}

/* contact------------------- */
.home-main .contact-us {
  color: var(--white-clr);
}

.home-main .contact-us .contact-info {
  background-color: var(--accent-clr);
  padding: 3rem;
  text-align: center;
  border-radius: 25px 25px 0 0;
  height: 505px;
  font-size: 18px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.home-main .contact-us .contact-info h3 {
  font-size: var(--h3-mobile);
}

.home-main .contact-us .contact-info ul {
  margin-top: 1.5rem;
}

.home-main .contact-us .contact-info ul li {
  font-weight: bold;
}

.home-main .contact-us .contact-form {
  background-color: var(--secondary-clr);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  border-radius: 0 0 25px 25px;
}

.home-main .contact-us h3 {
  margin-top: 0;
  font-family: oswald;
  font-size: var(--h3-mobile);
}

.home-main .contact-us .contact-form {
  color: var(--white-clr);
}

.home-main .contact-us .contact-form form input {
  width: 300px;
  height: 48px;
  border-radius: 15px;
  border: transparent;
}

.home-main .contact-us .contact-form form .contact-inputs {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
}

.home-main .contact-us .contact-form form a {
  margin-right: 0;
  margin-top: 2rem;
}

/* footer----------------------- */

footer {
  bottom: 0;
  margin-top: 303rem;
}


/* for desktop--------------- */


@media screen and (min-width: 700px) {

  /* a.book-artist,
  a.check {
      width: 140px;
  } */
  header{
      height: 150vh;
  }
  main .home-main{
      max-width: 1000px;
    margin: auto;
  }

  .home-main .header-content {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: repeat(3, auto);
  }

  .home-main .header-content h1,
  .home-main .header-content h2 {
      grid-column: 1/3;
      grid-row: 1;
      align-content: end;
  }
  .home-main .header-content h1{
      margin-bottom: 5rem;
  }

  .home-main .header-content h2 {
      margin-top: 4rem;
      font-size: var(--h2-desktop);
  }

  .home-main .header-content p {
      grid-column: 1;
      grid-row: 2;
  }
  .home-main .header-content  img{
      grid-row: 1/-1;
  }
  .home-main .header-content a{
      grid-row: 3;
      margin: 0;
      padding: 0;
      height: 38.4px;
      display: grid;
      text-align: center;
      align-items: center;
  }

  .home-main .discover-wrapper{
      display: grid;
      grid-template-columns: repeat(4,1fr);
  }
  .home-main .discover-wrapper h2{
      grid-column: 1/-1;
  }

  .home-main .event-list{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      max-width: 800px;
  }
  .home-main .event-list h2{
      grid-column: 1/-1;
  }
  .home-main .event-list .parties-list{
      margin-bottom: 0;
  }
  .home-main .experiences{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  }
  .home-main .our-artists{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

 .home-main .our-clients{
  grid-template-columns: repeat(5, 1fr);
 }
 .home-main .our-clients img:last-child{
  grid-column: 5;
  object-fit: scale-down;
 }
.home-main .testimonial{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-main .testimonial .icons-grp, .home-main .testimonial p,.home-main .testimonial blockquote {
  grid-column: 2;
}
.home-main .testimonial img{
  grid-row: span 3;
  grid-column: 1;
}
.home-main .contact-us{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.home-main .contact-us .contact-info{
  border-radius: 25px 0 0 25px;
}
.home-main .contact-us .contact-form{
border-radius: 0 25px 25px 0;
}
.home-main .contact-us .contact-form form{
  margin: auto;
}
}