body {
  font-family: oswald;
  background: linear-gradient(to bottom, #111415, #363a47);
}
/* HEADER ================ */

.mainContent,
.headerContent,
.footerContent,
.artist-reviews {
  max-width: 1000px;
  margin: auto;
}

h1,
h2,
h3 {
  font-family: Oswald;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

header .site-heading img {
  width: 50px;
  height: auto;
}
.headerContent .navbar {
  position: relative;
}

nav {
  display: none;
}

nav ul li a:hover {
  color: var(--accent-clr);
  border-bottom: 1px solid var(--accent-clr);
  transition: all 0.5s;
}

.headerContent .navbar .search a,
.headerContent .navbar .menuBtn a {
  color: var(--white-clr);
}

.headerContent .navbar .menuBtn a {
  color: var(--accent-clr);
}

header {
  border-radius: 0 0 20px 20px;

  padding: 1rem;
  color: var(--white-clr);
}

header .headerContent .site-heading {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

header .headerContent .site-heading img,
header .headerContent .site-heading h1 {
  grid-row: 1;
  grid-column: 1;
}

header .headerContent .site-heading h1 {
  margin-left: 3.5rem;
  align-items: center;
  font-size: 32px;
  font-weight: normal;
  color: white;
}

.headerContent h2 {
  font-weight: normal;
}

.headerContent h2 span {
  color: var(--accent-clr);
}

.headerContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headerContent .navbar {
  display: flex;
  gap: 1rem;
  color: #f37f81;
  justify-content: end;
  align-items: center;
}

/* HERO SECTION ========================== */

.search-text h1 {
  display: flex;
  justify-content: center;
  color: #f37f81;
}
.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
input[type="text"] {
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 16px 0px 0px 16px;
  outline: none;
  padding: 0.5rem;
  border-right: none;
  width: -webkit-fill-available;
}

.search-container a {
  border-right: 2px solid white;
  background: white;
  border-bottom: 2px solid white;
  border-radius: 0px 16px 16px 0px;
  border-top: 2px solid white;
  border-left: none;
  padding: 0.5rem;
}
main {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* FOOTER =========================== */
footer {
  color: var(--white-clr);
  padding: 1rem;
}

.footerContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.footerContent a {
  color: var(--white-clr);
}

.footerContent .footer-head {
  text-align: center;
  grid-column: span 2;
}

.footerContent .footer-head img {
  margin: auto;
  width: 70px;
}

.footerContent .footer-head .icons ul li {
  display: inline;
  margin: 0.3rem;
}

.footerContent .copyright {
  grid-column: span 2;
  text-align: center;
}

.footerContent .quick-links p,
.footerContent .contact-us p {
  font-weight: 700;
}

.footerContent .quick-links ul li,
.footerContent .contact-us ul li {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 900px) {
  .headerContent .navbar .menuBtn {
    display: none;
  }

  nav {
    display: block;
  }

  .headerContent .site-heading,
  .headerContent .navbar {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  nav ul li {
    display: inline;
  }

  nav ul li a {
    color: var(--white-clr);
    margin-left: 1rem;
  }
  main {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  footer .footerContent {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  footer .footerContent .footer-head {
    text-align: left;
    display: grid;
    gap: 1rem;
  }

  footer .footerContent .footer-head img {
    margin: 0;
  }

  footer .footerContent .copyright {
    grid-column: 1 / span 4;
    text-align: center;

    margin-top: 2rem;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
