:root {
    /* TODO: define variables here */
  --layout--max-width: 1200px;
  
  --layout--small-spacing: 0.6rem;
  
  --layout--medium-spacing: 1.2rem;
  
  --layout--large-spacing: 2.5rem;
  
  --layout--extra-large-spacing: 6rem;
  
  --typography--font-size--extra-large:5.5rem;
  
  --typography--font-size--large: 3rem;
  
  --typography--font-size--medium: 1.5rem;
  
  --typography--font-size--small: .8rem;
  
  --colors--background: white ;
  
  --colors--primary: #89023e;
  
  --colors--primary--variant: #f37f81 ;
  
  --colors--secondary:  #1b2021;
  
  --colors--secondary--variant: #30343f;
 
  --colors--tertiary:#ffd9da;

  h1 {
    font-family: oswald;
  }
  
  }