<!-- Request templates -->
<template id="request-template">
    <div class="request-item">
        <div class="request-header">
            <h2 class="request-name"></h2>
        </div>
        <div class="request-body">
            <p><strong>Email:</strong> <span class="request-email"></span></p>
            <p><strong>Phone:</strong> <span class="request-phone"></span></p>
            <p><strong>Business Name:</strong> <span class="request-business-name"></span></p>
            <p><strong>Offer:</strong> <span class="request-offer"></span></p>
            <p><strong>Address:</strong> <span class="request-address"></span></p>
            <!-- <p><strong>Request Date:</strong> <span class="request-req-date"></span></p> -->
            <div class="responseDiv">
                <button
                    onclick="bookingComfirmed(this.parentElement.parentElement.parentElement.getAttribute('data-uid'))">Accept</button>
                <button
                    onclick="bookingDeclined(this.parentElement.parentElement.parentElement.getAttribute('data-uid'))">Decline</button>
                <!-- <button class="chat-button">Chat</button> -->
            </div>
        </div>
    </div>
</template>
<!--  -->
<template id="request-template-owner">
    <div class="request-item">
        <div class="request-header">
            <h2 class="request-name"></h2>
        </div>
        <div class="request-body">
            <p><strong>Email:</strong> <span class="request-email"></span></p>
            <p><strong>Phone:</strong> <span class="request-phone"></span></p>
            <p><strong>Business Name:</strong> <span class="request-business-name"></span></p>
            <p><strong>Offer:</strong> <span class="request-offer"></span></p>
            <p><strong>Address:</strong> <span class="request-address"></span></p>
            <p><strong>Address:</strong> <span class="request-response"></span></p>
        </div>
    </div>
</template>
<!-- Booking templates -->
<template id="booking-template">
    <div class="booking-item">
        <div class="booking-header">
            <h2 class="booking-name"></h2>
        </div>
        <div class="booking-body">
            <p><strong>Email:</strong> <span class="booking-email"></span></p>
            <p><strong>Phone:</strong> <span class="booking-phone"></span></p>
            <p><strong>Business Name:</strong> <span class="booking-business-name"></span></p>
            <p><strong>Offer:</strong> <span class="booking-offer"></span></p>
            <p><strong>Address:</strong> <span class="booking-address"></span></p>
            <p><strong>Response:</strong> <span class="booking-response"></span></p>
        </div>
    </div>
</template>